<div class="h30"></div>
</div>
</div>
<div id="footer_bkg">
   <div id="base_page_footer">
  <div class="footer_content">
   <p>{lang aim_at} {$_G.site_name} {lang have_problem_send_email}{mailto text="`$service_email`" address="`$service_email`" encode="javascript"} {lang or} <a href="{$SiteUrl}help/" target="_blank">{lang view_help}</a></p> 
   <p>{lang customer_hotline}{$service_tel} {lang sales_hotline}{$sale_tel}</p>
   <!-- {if $company_name} --><p>Copyright &copy; {$_G.site_name}. All rights reserved. {$_G.company_name|pl} {lang copyright}</p><!-- {/if} -->
</div>
</div>
</div>
</body>
</html>